<!DOCTYPE html>
<html>
<head>
	<title>Sass Grid | Inspirational Pixels</title>

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Asap|Gudea:400,400italic,700">
	<link rel="stylesheet" type="text/css" href="../assets-2/css/main.css?435436">

	<link rel="stylesheet" type="text/css" href="demo.css?435436">

	<script type="text/javascript" src="../assets/js/analytics.js"></script>
</head>
<body>
	<header class="site-header-wrap">
		<div class="site-header">
			<a class="site-logo" href="http://inspirationalpixels.com">Inspirational Pixels</a>
			<span class="site-tagline">Demo</span>

			<nav class="site-nav">
				<ul>
					<li><a href="#"><span class="fa-reply"></span>Back To Tutorial</a></li>
					<li><a href="http://inspirationalpixels.com/tag/demo"><span class="fa-eye"></span>All Demos</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<div class="main">
		main
	</div>
</body>
</html>