.site-logo {
	width:353px;
	max-width:100%;
	height:41px;
	display:inline-block;
	background:url("../img/site-logo-@2x.png") no-repeat;
	background-size:100%;
	@extend %remove-text;
	@include transition(opacity linear 0.15s);

	&:hover {
		opacity:0.4;
	}
}

.site-tagline {
	margin-top:10px;
	display:block;
	opacity:0.4;
	// Type
	font-size:26px;
	text-transform:uppercase;
	color:#fff;
}