.site-header-wrap {
	margin-bottom:60px;
	padding:60px 0px 50px;
	background:$ui-color-2;
}

.site-header {
	max-width:1000px;
	width:90%;
	margin:0px auto;
	@extend %clearfix;
	// Type
	text-align:center;
}