.site-logo {
	// Type
	font-family:$font-family-2;
	font-size:3.000em;
	color:#777;
	line-height:100%;
	@include transition(color linear 0.15s);

	&:hover {
		// Type
		text-decoration:none;
		color:#fff;
	}

	span {
		display:block;
		// Type
		font-size:0.500em;
	}
}