.site-header-wrap {
	margin-bottom:60px;
	padding:45px 0px 40px;
	position:relative;
	border-bottom:1px solid #000;
	background:#1b1b1b url('../img/dark-bg.png');

	&:after {
		width:100%;
		height:4px;
		position:absolute;
		top:0px;
		left:0px;
		content:'';
		background:url('../img/stripe-bg.png') repeat-x;
	}
}

.site-header {
	max-width:1000px;
	width:100%;
	margin:0px auto;
	@extend %clearfix;
	// Type
	text-align:center;
}