.site-header .site-nav {
	width:100%;
	margin-top:30px;

	ul {
		display:inline-block;
		@extend %inline-list;
	}

	ul li {
		margin:0px 20px 0px;
		// Type
		font-size:18px;
		line-height:100%;

		&:first-child {
			margin-left:0px;
		}
	}

	[class^="fa-"] {
		padding-right:5px;
		-webkit-text-stroke:0px;
	}

	a {
		-webkit-text-stroke:0.5px #6f7883;
		// Type
		color:#6f7883;
		@include transition(all linear 0.15s);

		&:hover {
			// Type
			text-decoration:none;
			color:#fff;
		}

		&:before {
			padding-right:3px;
			position:relative;
			-webkit-text-stroke:0px;
			// Type
			@extend %icon-font;
		}
	}
}