.content {
	max-width:800px;
	width:100%;
	margin:0px auto;
	margin-bottom:60px;
}

/*------------------------------------------------------------
-------- DEMO Code
------------------------------------------------------------*/
.popup {
	width:100%;
	height:100%;
	opacity:0;
	position:fixed;
	top:0px;
	left:0px;
	z-index:-1;
	background:rgba(0,0,0,0.8);
}

.popup-open {
	opacity:1;
	z-index:9999;
}

.popup-inner {
	max-width:700px;
	width:100%;
	padding:40px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	box-shadow:0px 2px 6px rgba(0,0,0,1);
	border-radius:3px;
	background:#fff;
}