/*------------------------------------*\
-------- Typpography
\*------------------------------------*/
//----- Font Families
$font-family-1:   'Gudea';
$font-family-2:   'Asap';
$icon-font-family:'FontAwesome';

//----- Base Styles
$base-font-size: 16px;
$base-font-color:#525252;

//----- Other
$text-font-size: 18px;
$font-weights:400, 600, 700;
$header-color:#262626;



/*------------------------------------*\
-------- UI
\*------------------------------------*/
$ui-color-1:   #3C8FC7;
$ui-color-2:   #20262c;
$border-radius:3px;